/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the header and navigation bar */
header {
    background-color: #1a9cf3;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #FF5733; /* Change the color on hover */
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20vw;
    padding-right: 20vw;
} 
p {
    font-size: 15px;
    margin-bottom: 15px;
}
h1{
    color: darkblue;
    text-align: center;
}
h2{
    color: rgb(0, 200, 255);
    font-size: 16px;

}
h3{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 132, 255);
}

.description{
    text-align: center;
    margin-top: 10px; /* Add spacing between image and caption */
    flex-basis: 100%; /* Ensure captions take full width of the container */
}
.caption{
    font-style: italic;
}

ul {
    list-style: disc; /* Use bullets as list markers */
    padding-left: 30px; /* Optional: Add padding to the left of the list items */
}

/* Apply styles to list items (li) */
li {
    margin-bottom: 5px; /* Optional: Adjust the margin between list items*/
}

.container {
    margin: 0 auto;
    padding-left: 20vw;
    padding-right: 20vw;
}

.header {
    text-align: center;
}

.resume {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.left-column {
    flex: 1;
}

.right-column {
    flex: 2;
}

.section {
    margin-bottom: 20px;
}
